.appContainer{
    display: flex;
}
.content{
    width: 100%;
}
.sideBar{
    min-height: 729px;
}
.post{
    margin:20px 50px;
}
.hashTag{
    margin:0px 3px;
}
.reaction{
    margin: 25px 0px 0px 0px;
}
.createPost{
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
}