.main_container{
    margin-top: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
}
.container{
    border: 2px solid black;
    width: 500px;
    height: 500px;
}
h2{
    margin-top: 8px;
    text-align: center;
}
.input_class{
    margin: 35px 80px;
}
.input{
    margin-bottom: 70px;
    height: 30px;
    width: 300px;
}
.input_label{
    font-size: 23px;
}
.submit{
    width: 308px;
    height: 30px;
    cursor: pointer;
}
.result{
    border: 2px solid black;
    height: 300px;
    width: 500px;
}
.intrest{
    margin: 30px 0px 50px 60px;
    font-size: 23px;
}