main {
    display: grid;
    place-items: center;
}
#delete_button {
    background-color: red;
    color: white;
    width: 90px;
    cursor: pointer;
}
#items {
    margin-top: 15px;
}
#dates {
    margin-top: 15px;
}
.searched_items {
    margin: 10px;
    height: 30px;
    font-size: 17px;
}
#search_bar {
    height: 40px;
}
#text_bar {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    grid-gap: 10px;
}
#add_button {
    background-color: green;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
#displayItems {
    display: grid;
    margin: 10px;
    grid-template-columns: 210px 150px 100px;
}
.toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 12px;
    position: fixed;
    z-index: 1000;
    bottom: 300px;
    left: 80%;
    transform: translateX(-50%);
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}