body{
    width: 100%;
}
h1 {
    font-weight: 700;
    font-size: 45px;
    margin: 20px;
    padding-bottom: 20px;
}
.container{
    margin: 20px;
}
input {
    width: 100%;
}
.itemsContainer {
    text-align: left;
    width: 60%;
}
.n-row {
    margin: 10px 5px;
}

.n-button {
    margin-left: 80px;
}
.btn-success{
    margin-left: 708%;
    width: 70px;
}
.date-Bar{
    margin-left: 112%;
    width: 100%;
}
.text-center{
    width: 60%;
}